*{
    margin: 0;
    padding: 0;
}
/* Nav */
nav{
    height: 55px;
    background-color: #00BFFF
    
    }
    
#padreNav{ 
    height: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
    
    
    
    }
    
#inicio{ 
    color: white;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    }
    
#biografia { 
    color: white;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;

     }

#contactos { 
    color: white;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
        }

#discografia { 
    color: white;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
     }
    
#galeria { 
    color: white;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;

        }

/* MAIN */



main {
    height: 990px;
    background-color: rgb(0, 0, 0);
}

h1 {
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  height: 100px;
  font-weight: bold;
}

p {
   color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 25px;
  width: 60%; 
  float: left; 
  margin-right: 20px; 
}

img {
  float: right;
  width: 30%; 
  height: auto;
}





/* FOOTER */

footer{
    height: 117px;
    background-color: #00BFFF
    }

h4{ 
        
    color: white;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; }
    
#padreRedes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    }
    
#hijoRedes1 {
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    order: 1;
        
    }
    
#hijoRedes2{
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    order: 2;
    
    }
    
#hijoRedes3{
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    order: 3;
    
    }

   

@media only screen and (max-width: 991px) {

  
    #padreNav li a {
        font-size: 20px;
      }
  
    p {
      width: 100%;
      float: none;
      font-size: 16px;
    }

    img {
      width: 340px;              
      height: auto;              
      margin: 10px;              
      max-width: 100%;            
      height: 340px;
    }
  
  .imagenCerati {
      display: flex;              
      justify-content: center;    
      align-items: center;       
      flex-wrap: wrap;           
      margin-top: 20px;         
  }
    }
  
    main {
      padding: 10px;
      height: 1300px;
      
    }

    h4{    color: white;
      font-size: 30px;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      text-align: center;

    }

  
  
  /* PC */
  @media only screen and (min-width: 992px) {
    #padreNav {
      flex-direction: row;
    }
  main{
  
    height: 1350px;
  }
    p {
      width: 60%;
    }
  
    img {
        width: 30%;
        float: none;
    
      
    }

  }